<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{block "title" .}}{{end}}</title>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <style>
    html {
      line-height: 2;
    }

    input,
    textarea {
      width: 100%;
    }

    textarea {
      height: 70vh;
    }
  </style>
  {{block "head" .}}{{end}}
</head>

<body>
  {{block "body" .}}{{end}}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>